body {
  text-align: center;
}

.box {
  text-align: center;
  width: 70px;
  background: #eee;
  display: inline-block;  /* alinhado sempre na mesma linha, não ocupando um espaço a mais para a direita */
  padding: 40px; /* margem interna das boxes de 40px */
  font-size: 60px;
  margin: 5px; /* margem externa entre as boxes */
  cursor: pointer;
  color: #eee;
  
}

.jogador, .vencedor {
  font-size: 30px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background: #eee;
  cursor: pointer;

}

button:hover {
  background-color: cornsilk;
}